 1.Write a Python program to print "Hello, World!_

In [ ]:
print("Hello world")

Hello world

 2.Write a Python program that displays your name and age

In [ ]:
name = ("Ayushi")
age = ("25")
print("my name is",name)
print("i am" ,age, "years old")

my name is Ayushi
i am 25 years old

 3.Write code to print all the pre-defined keywords in Python using the keyword library

In [ ]:
import keyword
print("list of python keywords:")
print(keyword.kwlist)

list of python keywords:
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

 4.Write a program that checks if a given word is a Python keyword

In [ ]:
import keyword
word =input("if:")
if keyword.iskeyword(word):
    print("f '{word}' is a python keyword")

if:word in keyword explaination

 5.Create a list and tuple in Python, and demonstrate how attempting to change an element works differently
for each

In [ ]:
my_list = [1,2,3]
my_tuple = (4,5,6)
print("original list:", my_list)
my_list[1] = 200
print("modified list:", my_list)

print("\noriginal tuple:", my_tuple)
my_tuple[1] = 500

original list: [1, 2, 3]
modified list: [1, 200, 3]

original tuple: (4, 5, 6)

TypeError: 'tuple' object does not support item assignment

 8.Write a program to demonstrate the use of logical operators

In [ ]:
username = "admin"
password = "1234"
is_admin = True
is_logged_in = False
#using 'and' operators
if username == "admin" and password == "1234":
    print("login successfull")
    is_logged_in = True
else:
    print("invalid credenrials!")

#using 'or' operators
if is_logged_in or is_admin:
    print("access granted to admin panel")
else:
    print("access denied!")

#using 'not' operators
if not is_logged_in:
    print("please log in to continue")
else:
    print("welcome to your dashboard!")

login successfull
access granted to admin panel
welcome to your dashboard!

 9.Write a Python program to convert user input from string to integer, float, and boolean types

In [ ]:
# Convert to integer
try:
    int_value = int(10)
    print(f"Integer: {int_value}")
except ValueError:
    print("Cannot convert to integer.")

# Convert to float
try:
    float_value = float(10.5)
    print(f"Float: {float_value}")
except ValueError:
    print("Cannot convert to float.")

Integer: 10
Float: 10.5

 11.Write a program that checks if a number is positive, negative, or zero

In [ ]:
number = float(input("Enter a number: "))

# Checking conditions
if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number: 15
The number is positive.

 10.Write code to demonstrate type casting with list elements

In [ ]:
data = ["123", "45.67", "true", "789"]

#type casting elements
int_value = int(data[0])

float_value = float(data[1])

bool_value = bool(data[2])

str_value = str(data[3])

print(int_value,bool_value,float_value,str_value)

123 True 45.67 789

 12.Write a for loop to print numbers from 1 to 10

In [ ]:
for i in range(1 , 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

 13.Write a Python program to find the sum of all even numbers between 1 and 500

In [ ]:
sum_even = sum(range(2, 501, 2))

print("sum of all even numbers between 1 and 500:", sum_even)

sum of all even numbers between 1 and 500: 62750

 14.Write a program to reverse a string using a while loop

In [ ]:
#input string
text = input("python")

#initialize variables
reversed_text = ""
index = len(text) - 1

#loop to reverse the string
while index >=0:
  reversed_text += text[index]

  index -= 1

print("reversed string:", reversed_text)

pythonreversed_text
reversed string: txet_desrever

 15.Write a Python program to calculate the factorial of a number provided by the user using a while loop.

In [ ]:
# Get user input
num = int(input("Enter a number: "))

# Initialize variables
factorial = 1
i = num

# Calculate factorial using while loop
while i > 0:
    factorial *= i
    i -= 1  # Decrement the counter

# Print the result
print(f"Factorial of {num} is {factorial}")

Enter a number: 5
Factorial of 5 is 120

 6.Write a function to demonstrate the behavior of mutable and immutable arguments

In [ ]:
def modify_values(num, num_list):
    # Modifying immutable argument (integer)
    num += 10  # This creates a new integer object
    print(f"Inside function (num): {num}")

    # Modifying mutable argument (list)
    num_list.append(100)  # This modifies the existing list
    print(f"Inside function (num_list): {num_list}")

# Immutable argument
x = 5  # Integer (immutable)
# Mutable argument
y = [1, 2, 3]  # List (mutable)

print(f"Before function call (x): {x}")
print(f"Before function call (y): {y}")

modify_values(x, y)

print(f"After function call (x): {x}")  # Unchanged
print(f"After function call (y): {y}")  # Changed

Before function call (x): 5
Before function call (y): [1, 2, 3]
Inside function (num): 15
Inside function (num_list): [1, 2, 3, 100]
After function call (x): 5
After function call (y): [1, 2, 3, 100]